@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root {
  background-color: #f5f5f5;
  color: #292828;
  --color-hover: #c5c3c3;
  --card-bg: #b5c0d0;
}

[data-theme="dark"] {
  background-color: #222222;
  color: #848484;
  --color-hover: #000;
  --card-bg: #2c3333;
} */
